
a { color: #FFFFFF!important; }

nav.vertical ul li{	display:block;}
nav.horizontal ul li{display: inline-block;}
img{max-width:100%;}
#gbutton{
    margin-top: 5%;
    color: #F2Ab27;
    font-size: 1.5em;
    float: right;
    margin-right: 1%;
}
body {
    background: #fff;
    z-index: -1;
    background-size: 100%;
    background-size:cover;
    background-attachment:fixed;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #393939;
    font-size: 14px;
    line-height: 150%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    /*-moz-osx-font-smoothing: grayscale;*/
    text-rendering: optimizeLegibility;
    overflow-x: hidden !important;
    height: auto !important;
}
.gallery{
    margin-top: -70px;
    margin-left: 45%;
}
.container ul {
    padding:0 0 0 0;
    margin:0 0 0 0;
}
.container ul li {
    list-style:none;
    margin-bottom:25px;
    margin-left: 10px;
}
.container ul li img {
    cursor: pointer;
}
.wrap{
    margin:0 auto;
    width:80%;
}

#forum{
    margin-left: -3%;
}

.flexy-menu{
    text-align: center;
}
.response{
    margin-left: 1%;
}

.calendar{
    margin-left: 3%;
}
.content {
    background: url(../images/indexphoto.jpg) no-repeat;
    background-size: 100%;
    background-size:cover;
}

.content2{
    background: url(../images/greenchalkboard.jpg) no-repeat;
    height: 900px;
    background-size: 100%;
    background-size:cover;
}

.content3{
    background: url(../images/parent.jpg) no-repeat;
    height: 900px;
    background-size: 100%;
    background-size:cover;
}


.logout{
    position: absolute;
    margin-left: 150%;
    width: 300px;
    color: #ffffff;
    font-size: 1.3em;
    margin-top: 2%;

}

#logOut{
    margin-left: 5%;
    border: none;
    padding: 3%;
    background: #85bf4b;
    color: #ffffff;
    border-radius: 5px;

}
.content4{
    background: url(../images/teacher.jpg) no-repeat;
    height: 900px;
    background-size: 100%;
    background-size:cover;
}

.content5{
    height: 900px;
    background-size: 100%;
    background-size:cover;
}
select {
    width: 40%;
    position: absolute;
    padding:3px;
    margin-top: 35%;
    margin-left: 3%;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:1px solid #e3e3e3;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

.content6{
    background: url(../images/class.jpg) no-repeat;
    height: 900px;
    background-size: 100%;
    background-size:cover;
    margin-bottom: 5%;
}

.response{
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 11px 0 18px 50px;
    position: relative;
}


.forum-header{
    margin-top:20px ;
}
.avatar-small, .response .response-avatar{
    border-radius: 100px;
    height: 86px;
    width: 86px;
    margin-top: 10px;
}

.response .response-time{
    color: #b2b2b2;
    background: #F2Ab27;
    width: 60px;
    height: 60px;
    float: right;
    padding-top:20px;
    padding-left:15px;
    border-radius: 100px;
    font-size: 13px;
    font-style: italic;
    margin-right: 20px;
    margin-top: 30px;
}

.response-body p{
margin-top: 30px;
}

.response-body{
    border-bottom: 1px solid #e3e3e3;
}

.response .response-name{
    color: black;
    font-size: 16pt;
    font-weight: 700;
    background: #F2Ab27;
    width: 130px;
    height: 130px;
    float: right;
    padding-top:50px;
    margin-top: -5px;
    padding-left:15px;
    margin-right: 100px;
    border-radius: 100px;
}

.content7{
    background: url(../images/fieldtrip.jpg) no-repeat;
    height: 1130px;
    background-size: 100%;
    background-size:cover;
    margin-bottom: 5%;
}

.content8{
    background: url(../images/parentpage.jpg) no-repeat;
    height: 830px;
    background-size: 100%;
    background-size:cover;
    margin-bottom: 5%;
}

.about h1{
    margin-top: 50px;
    margin-bottom: 50px;
}
.row-content1 h1{
    color: #3e3e3e;
    font-weight: bold;
    margin-left: 42%;
}

.about img{
    position: absolute;
    margin-top: 230px;
    margin-left: 20%;
}
.heading{
    color: #ffffff;
    width: 40%;
    margin: 0 auto;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
}

.icon{
    margin-left: 40%;
    margin-top: 40px;
    margin-bottom: -60px;
}

.signup{
    margin-top: -20%;
    margin-left: 120px;
}
.signup2{
    margin-top: -20%;
    margin-left: 100px;
}

.formicon{
    margin-left: -5%;
    margin-top: -13%;
    position: fixed;
    margin-bottom: 20px;
}

.register{
    margin-bottom: 20px;
}

.ticon{
    margin-left: -55%;
    margin-top: -12%;
    position: fixed;
    margin-bottom: 20px;
}

.md-close{
    float: right;
    font-size: 2em;
    margin-right: 10px;
    margin-top: -30px;
}

.navbg{
    background: rgba(62, 62, 62, .5);
    width: 100%;
    height: 100px;
    position: absolute;
    margin-top: 20px;
    z-index: 0;
}

.logo{
    position: absolute;
    margin-left: 1%;
}

.refer{
    position: absolute;
    margin-top: 139px;
    margin-left: 740px;
}

.refer:hover{
    color: #F2Ab27;
}

.da-slide a{
    font-weight: bold;
    font-style: oblique;
    font-size: 2em;
    text-decoration: underline;
}

.da-slide a:hover{
    color: #F2Ab27;
}
.da-slide p{
    color: #F2Ab27;
    text-decoration: underline;
}
.da-slide p:hover{
    color: #F2Ab27;
    text-decoration: underline;
}

.me{
    border: 3px solid white;
    border-radius: 400px;
    width: 200px;
    margin: 0 auto;
}

.me img{
    width: 100%;
    background: white;
    border-radius: 400px;
}

.logo{
    float:left;
    margin-top: -10px;
}

.header_style{
    padding:50px 0 0 0;
}

.calendarcontent{
    float:left;
    margin-left:5%;
}

.calendar h1{
    margin-bottom: 80px;
}

/* start h_menu */
.h_menu{
    float:right;
    margin-top: 0.6em;
    margin-right: 2.2%;
}


.flexy-menu{
    width:100%;
    margin:0;
    padding:0;
    position:relative;
    float:left;
    list-style:none;
}

.flexy-menu li{
    display:inline;
    font-size:13px;
    width: 90px;
    height: 70px;
    margin-left:5px;
    padding:0;
    float:left;
    line-height:20px;
    position:relative;
    background: #3e3e3e;
    margin-top: -20px;
}

.flexy-menu>li>a{
    display: block;
    color: #f5f5f5!important;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    text-align: center;
    transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.flexy-menu>li>a:hover{
    height: 100%;
    background: #F2Ab27;
    text-decoration:none;
    color: #fff!important;
    border-bottom: 1px solid #fff;
}

.flexy-menu li.right{
    float:right
}

.flexy-menu ul,.flexy-menu ul li ul{
    list-style:none;
    margin:0;
    padding:0;
    display:none;
    position:absolute;
    z-index:99999;
    width: 200px;
    background:#333;
    box-shadow:0 1px 1px rgba(0,0,0,0.3);
}

.flexy-menu ul{
    top:60px;
    left:0;
}

.flexy-menu ul li ul{
    top:0;
    left:100%;
}

.flexy-menu ul li{
    clear:both;
    width:100%;
    border:0;
    font-size:13px;
}

.flexy-menu ul li a{
    text-transform: capitalize;
    font-size: 13px;
    padding:10px 20px;
    width:100%;
    color:#dedede;
    text-decoration:none;
    display:inline-block;
    float:left;clear:both;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -webkit-transition:color .2s linear,background .2s linear;
    -moz-transition:color .2s linear,background .2s linear;
    -o-transition:color .2s linear,background .2s linear;
    transition:color .2s linear,background .2s linear;
}

.flexy-menu>li .arrow{
    position:absolute;
    color:#dedede;
    top:20px;
    right:8px;
    font-size:17px;
}

.flexy-menu i{
    line-height:20px!important;
    margin-right:6px;
    font-size:18px;
    float:left;
}

.flexy-menu>li.showhide{
    display:none;
    width:100%;
    height:40px;
    cursor:pointer;
    color:#dedede;
}

.flexy-menu>li.showhide span.title{
    margin: 10px 0 0 15px;
    float: left;
    font-size: 1.3em;
    color: #FFF;
}

.flexy-menu>li.showhide span.icon{
    margin: 12px 10px;
    float: right;
}

.flexy-menu>li.showhide .icon em{
    margin-bottom:3px;
    display:block;
    width:20px;
    height:3px;
    background:#fff;
}
.h_menu > ul > li.showhide > span.icon > em:nth-child(4) {
    display: none;
}


/* flex men slider*/
.flexy-menu1{
    width:100%;
    margin:0;
    padding:0;
    position:relative;
    float:left;
    list-style:none;
}

.flexy-menu1 li{
    display:inline;
    font-size:13px;
    margin:0;
    padding:0;
    float:left;
    line-height:20px;
    position:relative;
}

.flexy-menu1>li>a{
    display: block;
    color: dimgray!important;
    padding: 12px 30px 12px 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.flexy-menu1>li>a:hover{
    text-decoration:none;
    color: lightgray!important;
    border-bottom: 1px solid #fff;
}

.flexy-menu1 li.right{
    float:right
}

.flexy-menu1 ul,.flexy-menu1 ul li ul{
    list-style:none;
    margin:0;
    padding:0;
    display:none;
    position:absolute;
    z-index:99999;
    width: 200px;
    background:#333;
    box-shadow:0 1px 1px rgba(0,0,0,0.3);
}

.flexy-menu1 ul{
    top:60px;
    left:0;
}

.flexy-menu1 ul li ul{
    top:0;
    left:100%;
}

.flexy-menu1 ul li{
    clear:both;
    width:100%;
    border:0;
    font-size:13px;
}

.flexy-menu1 ul li a{
    text-transform: capitalize;
    font-size: 13px;
    padding:10px 20px;
    width:100%;
    color:#dedede;
    text-decoration:none;
    display:inline-block;
    float:left;clear:both;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -webkit-transition:color .2s linear,background .2s linear;
    -moz-transition:color .2s linear,background .2s linear;
    -o-transition:color .2s linear,background .2s linear;
    transition:color .2s linear,background .2s linear;
}

.flexy-menu1>li .arrow{
    position:absolute;
    color:#dedede;
    top:20px;
    right:8px;
    font-size:17px;
}

.flexy-menu1 i{
    line-height:20px!important;
    margin-right:6px;
    font-size:18px;
    float:left;
}

.flexy-menu1>li.showhide{
    display:none;
    width:100%;
    height:40px;
    cursor:pointer;
    color:#dedede;
}

.flexy-menu1>li.showhide span.title{
    margin: 10px 0 0 15px;
    float: left;
    font-size: 1.3em;
    color: #FFF;
}

.flexy-menu1>li.showhide span.icon{
    margin: 12px 10px;
    float: right;
}

.flexy-menu1>li.showhide .icon em{
    margin-bottom:3px;
    display:block;
    width:20px;
    height:3px;
    background:#fff;
}
.h_menu > ul > li.showhide > span.icon > em:nth-child(4) {
    display: none;
}

/*Slider*/
.da-slider{
    width: 100%;
    height:350px;
    position: relative;
    overflow: hidden;
    -webkit-transition: background-position 1s ease-out 0.3s;
    -moz-transition: background-position 1s ease-out 0.3s;
    -o-transition: background-position 1s ease-out 0.3s;
    -ms-transition: background-position 1s ease-out 0.3s;
    transition: background-position 1s ease-out 0.3s;
    text-align:center;
    margin-top: 3em;
}

.da-slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
    left: -60px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.da-slide-current{
    z-index: 1000;
}

.da-slider-fb .da-slide{
    left: 100%;
}

.da-slider-fb  .da-slide.da-slide-current{
    left: 0px;
}

.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img{
    position: absolute;
    opacity: 0;
    left: 110%;
}

.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link{
    left: 10%;
    opacity: 1;
}

.da-slider-fb .da-slide .da-img{
    left: 60%;
    opacity: 1;
}

.da-slide h1{
    margin-left: 30px;
    color:#FFFFFF;
    width: 100%;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-size:3.5em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.da-slide h2{
    color:#FFFFFF;
    width: 100%;
    top:0px;
    white-space: nowrap;
    margin-left: -5%;
    z-index: 10;
    font-weight:600;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-size:3.5em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.da-slide p{
    top:110px;
    color: #FFFFFF;
    font-size: 1.4em;
    height: 80px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    margin-left: 6%;
    width: 77%;
}

.da-img{
    display:none;
}

.da-slide .da-img{
    text-align: center;
    width: 30%;
    top: 51px;
    height: 256px;
    line-height: 320px;
    left: 110%; /*60%*/
}

.da-slide .da-link{
    top:175px; /*depends on p height*/
    font-family: 'Open Sans', sans-serif;
    display:inline-block;
    color:#fff!important;
    font-size:1em;
    font-weight:600;
    text-decoration:none;
    text-align:center;
    margin-left: 34%;
    margin-top: 1em;
    padding:12px 30px;
    border:2px solid #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius:5px;
}

.down-arrow {
    width:50px;
    margin-top: 60px;
    margin-left: 46%;
    padding: 3em 0em;
}

.down-arrow span{
    background: url(../images/downarrow.png);
    width:50px;
    height: 50px;
    display:block;
}

.da-link:hover{
    background: #1abc9c;
    border:2px solid #1abc9c!important;
    color:#fff!important;
}

.da-arrows{
    -moz-user-select: none;
    -webkit-user-select: none;
}

.da-arrows span{
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 2000;
    opacity: 0;
    height:60px;
    width:60px;
    -webkit-transition: opacity 0.4s ease-in-out-out 0.1s;
    -moz-transition: opacity 0.4s ease-in-out-out 0.1s;
    -o-transition: opacity 0.4s ease-in-out-out 0.1s;
    -ms-transition: opacity 0.4s ease-in-out-out 0.1s;
    transition: opacity 0.4s ease-in-out-out 0.1s;
}

.da-slider:hover .da-arrows span{
    opacity: 1;
}

.da-arrows span.da-arrows-next:after{
    background-position: top right;
}

.da-arrows span.da-arrows-prev{
    left: 15px;
}

.da-arrows span.da-arrows-next{
    right: 15px;
}

.da-slide-current h2,
.da-slide-current p,
.da-slide-current .da-link{
    left: 10%;
    opacity: 1;
}

.da-slide-current .da-img{
    left: 60%;
    opacity: 1;
}

/*===================================================================================*/
/*	USER OPTIONS
/*===================================================================================*/

.slider section{
    background-color: rgba(62,62,62, 0.3);
    margin-top: -3%;
    width: 30%;
    float: left;
    margin-left: 2.5%;
    border: 3px solid #fff;
}
.slider section h2{
    margin-left: 33%;
    color: #fff;
}
.da-slide h1{
    margin-left: 32%;
    background-color: rgba(62,62,62, 0.3);
    width: 50%;
    padding-top: 5%;
    margin-top: -50px;
    height: 150px;
    border: 3px solid #fff;
}
.tp{
    margin-left: 14%;
}
.slider aside{
    background-color: rgba(62,62,62, 0.3);
    margin-top: 1%;
    width: 30%;
    float: left;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-left: 14%;
    border: 3px solid #fff;
}

/*WHY T&P*/

.text-light h1{
    color: #3e3e3e;
    font-size: 3em;
}

#why{
    margin-left: -2%;
}

.whycontent h1{
    margin-bottom: 130px;
    margin-left: 3px;
    text-align: center;
    float: left;
    width: 110%;
    font-size: .6em;
    font-style: oblique;
    margin-top: -65%;
    color: #F2Ab27;
    position: absolute;

}

.whycontent{
    color: #ffffff;
    font-size: 52px;
    width: 25%;
    position: absolute;
    text-align: center;
    margin-top: 10%;
    margin-left: 2%;
}

.whycontent img{
    margin-top: -30%;
    margin-left: 2%;
}

.whycontent a{
    font-size: .5em;
    color: #F2Ab27;
}

.formcontent h1{
    margin-bottom: 130px;
    margin-left: 1px;
    text-align: center;
    float: left;
    width: 110%;
    font-size: .6em;
    font-style: oblique;
    margin-top: -65%;
    color: #F2Ab27;
    position: absolute;

}
.formcontent{
    color: #ffffff;
    font-size: 52px;
    width: 25%;
    position: absolute;
    text-align: center;
    margin-top: 10%;
    margin-left: 2%;
}

.formcontent img{
    margin-top: -30%;
    margin-left: 2%;
}

.formcontent a{
    font-size: .5em;
    margin-top: 200px;
    line-height: 1.5em;
    margin-bottom: 30px;
    color: #F2Ab27;
}

.text-light aside {
    background: grey;
    float: left;
    width: 30%;
    margin-left: 3%;
    height: 350px;
    border-radius: 400px;
    margin-top: 10%;
}


/*PROFILE IMG*/

.profile{
    background:url("../images/pt.png") no-repeat;
    background-position: -50px -18px;
    width: 300px;
    height:300px;
    border-radius: 400px;
    margin-bottom: 10%;
    margin-left: 35%;
    border: 3px solid #ffffff;
}
.profile2{
    background:url("../images/tt.png") no-repeat;
    background-position: -30px -25px;
    width: 300px;
    height:300px;
    border-radius: 400px;
    margin-bottom: 10%;
    margin-left: 35%;
    border: 3px solid #ffffff;
}

/*END WHY*/

.slider aside h2{
    display: block;
    margin:0 auto;
    text-align: center;
    color: #fff;
}



#form aside{
    background-color: rgba(62,62,62, 0.3);
    float: left;
    width: 30%;
    margin-top: 60px;
    margin-left: 35%;
}

#form img{
    margin-left: 115px;
}

#form h1{
    margin-left: 45%;
}

#form h2 {
    margin-top: 50%;
    margin-left: 20%;
}

.group_2_text2 h1{
    color: #F2Ab27;
}

.group_2_img1{
    border-radius: 10px;
}


.desc h1{
    color: #333;
    font-size: 20px;
    text-transform: uppercase;
}

.owl-carousel {
    width: 95%;
    margin: 0 auto;
    padding: 2%;
}

.item h4 a{
    font-size: 1em;
    color: #707E8C!important;
}

.group_2_items {
    padding-top: 1em;
}

.group_2_img1 {
    width: 62%;
}

.group_2 {
    padding: 3em 0em 1em 0em;
}

#owl-demo .item{
    margin: 0.5em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    padding: 1em;
    cursor:pointer;
}

#owl-demo .item:hover a{
    color:#171717;
}

#owl-demo .item img{
    display: block;
    height: auto;
    width: 100%;
}

.item img,.item a,.item p{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.item img:hover,.item a:hover,.item p:hover{
    opacity:1;
}

.owl-theme .owl-controls{
    margin-top: 10px;
    text-align: center;
}

.carousel{
    margin: 0 0.7em;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

.caption-info-head-right span{
    width:20px;
    height:16px;

    display:inline-block;
}

.group_1 {
    padding: 2em 0em;
    background: #F4F4F4;
}

.group_1_img {
    float:left;
    background-color: #ddd;
}

.group_3_img {
    float: left;
}

.group_3_img img{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
}

.group_1_img .ui {
    padding: 1.5em 1.7em;
    color:#fff;
    background: #FF605F;
    float: left;
    font-size: 2.8em;
    font-weight: 900;
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -o-border-radius: 120px;
    text-shadow: 0px 0px 2px #fff;
}

.group_1_img .ux {
    padding: 1.5em 1.55em;
    color: #5EC2E7;
    background: rgba(230, 231, 231, 0.56);
    float: left;
    font-size: 2.8em;
    font-weight: 900;
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -o-border-radius: 120px;
    text-shadow: 0px 0px 2px #5EC2E7;
    margin-left: -58px;
}

.group_1_img .fontend {
    padding: 2.283em 0.4em;
    font-size: 2.1em;
    background: #34CF75;
    color: #FFF;
    text-shadow: 0px 0px 2px #fff;
}

.group_1_img .core {
    padding: 1.75em 1.2em;
    background: #35AFBA;
    font-size: 2.5em;
}
.group_1_img .ui1 {
    padding: 1.5em 1.7em;
    font-size: 2.8em;
    color:#FF605F;
    text-shadow: 0px 0px 2px #FF605F;
}

.group_1_text {
    float: right;
    width: 55%;
    margin: 2% 0% 3% 4%;
    background-color: #fff;
}

.group_1_text h3 {
    color: #333;
    font-size: 1.6em;
    font-weight: 900;
    padding-bottom: 25px;
}

.group_1_text p {
    color:#666666;
    font-size: 1em;
    line-height: 1.9em;
}

.group_2 {
    padding: 5em 0em 1em 0em;
}

.group_2_img1 {
    float:left;
}

.group_2_img1 img {
    width: 100%;
    height: 400px;
    border-radius: 550px;
}

.group_2_items {
    padding-top: 0;
}

.desc {
    padding-top:0px;
}

.group_2_text2 {
    margin: 0;
    padding: 0;
    float: right;
    width:32%;
}

.group_2_text2 h4 {
    font-size: 15px!important;
    color:#333333;
    font-size: 0.95em;
    padding-bottom: 20px;
}

.button_2 {
    margin: 2em 0em;
}
.button_2 a{
    border:1px solid #ccc!important;
    /*background-color: #6687a9;*/
    font-size: 1em;
    padding: 0.6em 2.2em;
    color:#333!important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
}

.button_2 a:hover{
    background-color: #1abc9c;
    border:1px solid #1abc9c!important;
    color:#fff!important;
    text-decoration: none;
}


.brows_button_4 a{
    border:1px solid #ccc!important;
    /*background-color: #6687a9;*/
    font-size: 1em;
    padding: 0.6em 2.2em;
    color:#555!important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
}

.brows_button_4 a:hover {
    background-color: #1abc9c;
    border:1px solid #1abc9c!important;
    color:#fff!important;
    text-decoration: none;
}


.skills{
    background: #ffffff;
    margin-bottom: 30px;
}

.skills .heading{
    color:#3e3e3e;
    border-bottom: 1px solid #E1E1E1;
    width: 40%;
    margin: 0 auto;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
}

.para{
    font-size: 15px!important;
    color:#3e3e3e;
    padding:3em 0em 4em 0em;
    text-align: center;
}

.centertxt {
    width: 95%;
    margin: 0 auto;
}

.text-light {
    padding: 3em 0em;
}

.chart {
    background: white;
    position: relative;
    display: inline-block;
    margin: 3em;
    width: 130px;
    height: 130px;
    text-align: center;
}

.chart canvas {
    width: 130px;
    height: 130px;
}

.chart-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.percent,
.count-number,
.count-number-done {
    color: #fff;
    font-weight: 700;
    font-size: 2.333em;
    line-height: 1.34;
}

.text-light .percent,
.text-light .count-number,
.text-light .count-number-done {
    color: #fff;
}

.percent:after {
    content: '%';
}

.chart-title,
.count-subject {
    font-weight: 700;
    font-size: 10px;
}

.chart-title {
    color: #fff;
}

.text-light .chart-title,
.text-light .count-subject {
    color: #fff;
}

.text-light .timeline .experience-info p {
    color: rgba(255,255,255,0.7);
}

.text-light .timeline time {
    color: rgba(255,255,255,0.5);
}

.text-light .timeline .experience,
.text-light .timeline .experience .circle {
    border-color: rgba(255,255,255,0.5);
}

.row-content2 {
    padding: 6% 8%;
}
.column.six, .column.half, .column.threesixths, .column.twofourths {
    width: 40%;
}

.column {
    margin-left: 0;
    margin-right: 3.8%;
}

.column {
    clear: none;
    float: left;
    min-height: 1px;
}

.column.six, .column.half, .column.threesixths, .column.twofourths {
    width: 48%;
}

.column.last, .column.reset {
    margin-right: 0 !important;
}

.column {
    margin-left: 0;
    margin-right: 3.8%;
}

.experience-info p {
    margin-top: 0.67em;
    margin-bottom: 1.34em;
}

.brows_button_4 {
    margin: 3em 0em;
}

textarea{
    height: 200px!important;
    resize: none;
    -webkit-appearance: none;
    box-shadow: none!important;
    border-radius: 0!important;
}

.name {
    float: left;
    width:45%;
}

.email {
    float:right;
    width:45%;
}

.send {
    margin: 3em 0em;
    text-align: right;
}

.send a {
    background-color: #fff!important;
    border:1px solid #ccc!important;
    font-size: 1em;
    padding: 0.6em 2.2em;
    color:#333!important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
}

.send a:hover {
    background-color: #1abc9c!important;
    border:1px solid #1abc9c!important;
    color:#fff!important;
}

.about h1{
    color: white;
}

.about p{
    color: #3e3e3e;
    background: rgba(255,255,255,.5);
    border-radius: 5px;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 2%;
}


footer {

    line-height: 22px;
    padding:0;
    margin-top: 10%;
}

footer.dark-bg {
    background: #f5f4f1 url(../images/bg.png?6389083) repeat 0 0;
}

footer.container.inner {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .container > .row {
    /*optional*/
}

footer .row .inner {
    padding: 25px;
}

footer h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #333!important;
}

footer p {
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 1em;
}

footer .footer-logo{
    display: inline-block;
}

footer .logo {
    height: auto;
    width: 100px;
}

footer .thumb{
    padding: 5px;
}

.thumb:hover .thehover{
    display:block;
}

.thehover{
    color:#ddd!important;
    position : absolute;
    display:none;
    top:20%;
    width:20%;
    margin:0 auto;
    left:0px;
    right:0px;
    z-index:100;
    cursor:pointer;
}

ul.contacts {
    list-style: none;
    position: relative;
    padding-left: 0px;
    color: #707E8C;
}

ul.contacts li {
    margin-bottom: 5px;
}

footer ul.contacts li {
    margin-bottom: 2px;
}


.active{
    background: #F2Ab27;
    height: 70px;
}

.footer-bottom {
    background: #3e3e3e;
    color: #ffffff;
    margin:0!important;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 20px 10px 20px;
}

.footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}

.footer-menu li {
    display: inline;
    padding-left: 10px;
}

.footer-menu li:before {
    display: inline-block;
    content: "·";
    padding-right: 12px;
}

.footer-menu li:first-child:before {
    display: none;
}

.copy{float: left;}

.btn-success, .btn-success:hover{
    background-color: #1abc9c;
    border:1px solid #1abc9c!important;
    font-weight: 300!important;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url(../images/top.png) no-repeat right top;
}
.modalhead{
    color: white;
}

.plogin label{
    float: left;
    margin-right: 370px;
    margin-bottom: 10px;
    font-size: 1.2em;
    margin-top: 30px;
}
.plogin{
    margin-top: 4%;
    margin-left: 20%;
    margin-bottom: 50px;
}


.allergy{
    color: white;
    padding: 15px;

}
#tsignin{
    margin-top: 10px;
    background: #85bf4b;
    color: white;
    font-weight: bold;
    border: none;
}

#register{
    margin-top: 10px;
    background: #85bf4b;
    color: white;
    font-weight: bold;
    border: none;
    margin-bottom: 20px;
}
#signinButton{
    margin-top: 10px;
    background: #85bf4b;
    color: white;
    font-weight: bold;
    border: none;
}
#signinButton2{
    margin-top: 10px;
    background: #85bf4b;
    color: white;
    font-weight: bold;
    border: none;
}
.plogin input{
    float: right;
    margin-right: 100px;
    margin-top: -40px;
    width: 200px;
    height: 35px;
    margin-bottom: 20px;
}

.sign{
    margin-top: 4%;
    margin-left: 20%;
    margin-bottom: 50px;
}
.sign input{
    float: right;
    margin-left: 150px;
    margin-top: -30px;
    width: 250px;
    height: 35px;
}

.sign label{
    width: 200px;
    float: left;
    margin-left: -30px;
    font-size: 1.2em;
    margin-top: 20px;
}

.calendar{
    width: 100%;
    margin-top: 10%;
}

.class{
    color: white;
}

.calendar h4{
    padding: 10px;
    color: #3e3e3e;
}

#signin{
    margin-top: 10px;
    margin-bottom: 10px;
    background: #85bf4b;
    color: white;
    font-weight: bold;
    border: none;
}

.left{
    color: #3e3e3e;
    float: left;
    width: 50%;
}

.right{
    color: #3e3e3e;
    float: right;
    width: 50%;
}

.down-arrow{
    margin-left: 100%;
}

.why{
    overflow-wrap: normal;
    margin: 10px;
}

.lessonplans{
    margin: 0 auto;
    border: 2px #3e3e3e solid;
    background: none;
    color:#3e3e3e;
    width: 80%;
    margin-bottom: 10px;
}

.parent{
    margin-bottom: 30px;
}

.ptitle{
    color: #F2Ab27;
    background: rgba(62, 62, 62, .5);
    width: 100%;
    margin: 0 auto;
}

.socialmedia{
    float: right;
    margin-top: -2%;
}

.socialmedia2{
    float: right;
    margin-top: -8%;
    margin-right: 2%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}



.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin-top: 30%
}

.carousel-indicators li{
    background: #85bf4b;

}
.tandp{
    margin-left: -5%;
}

/*===================================================================================*/
/*	RESPONSIVE
/*===================================================================================*/
@media (min-width: 992px) {

}


@media(min-width: 768px) and (max-width: 991px) {

    .logo{
        width: 150px;
    }

    .flexy-menu>li>a {
        padding: 12px 10px 12px 25px;
    }

    .owl-carousel {
        width: 100%;
        margin: 0 auto;
        padding: 2%;
    }
    .group_2_items {
        padding-top: 0px;
    }

    .item h4 a{
        font-size: 1em;
    }
    #owl-demo .item {
        margin: 0em;
        padding: 0em;
    }
    .group_2_img1 {
        width: 100%;
        margin: 0 auto;
        float: none;
    }

    .group_2_text2 {
        width: 100%;
        float: none;
        text-align: center;
        margin: 0%;
        margin-top: 20px;
    }
    .group_1_text h3 {
        font-size: 1em;
    }
    .group_1_img {
        float: none;
        width: 75%;
    }
    .group_1_img .fontend {
        padding: 2.24em 0.3em;
    }
    .group_1_img .fontend {
        font-size: 1.7em;
    }
    .brows_button_3 {
        margin: 2.5em 0em 1em 0em;
    }
    .text-light {
        padding: 1em 0em;
    }

    .group_2 {
        padding: 1em 0em 1em 0em;
    }

    /*HERO SLIDER*/
    .da-slider {
        height:200px;
    }

    .da-slide .da-link {
        margin-left: 29%;
        margin-top:40px;
    }

    .da-slide h2 {
        top: 20px;
        font-size: 2em;
    }
    .da-slide p {
        top: 70px;
        font-size: 1em;
    }
    .da-slide .da-link {
        top: 105px;
        padding: 0.5em 2em;
    }
    .da-arrows span.da-arrows-next {
        right: -3px;
    }
    .da-arrows span {
        top: 42%;
    }
    .down-arrow {
        width: 50px;
        margin: 0 auto;
        padding: 0.5em 0em;
    }


    /*Experience*/
    .column.six {
        width: 100%;
        float: none;
        padding: 0em;
        margin: 0em;
        margin-bottom: 5em;
    }
    .timeline-label {
        text-align: center;
    }
    .timeline-label h4 {
        padding: 0.3em 0em;
    }
    .row-content2 {
        padding: 2%;
    }
    .brows_button_4 {
        margin: 2em 0em;
    }
    .exper {
        padding: 3em 0em;
    }
    /*Contact form*/
    #contact-form ul{
        margin: 0!important;
        padding: 0!important;
    }


}


@media(min-width: 480px) and (max-width: 767px) {
    .wrap{
        width:95%;
    }

    .heading{
        width: 80%;
    }

    .header_style {
        padding: 10px;
    }

    .logo{
        float: none;
        text-align: center;
    }

    .logo img{
        margin-top: 50px;
    }

    .h_menu{
        float: none;
    }

    .flexy-menu{
        background: rgba(255, 255, 255, 0.4);
    }
    .flexy-menu>li>a {
        color:#ffffff;
        font-size: 12px;
    }
    .flexy-menu.vertical{
        width:100%
    }
    .flexy-menu li{
        display:block;
        width:100%;
    }

    .flexy-menu>li>a{
        padding:10px 15px;
        color: #707E8C!important;
        font-size: 1.1em;
        background: #EEE;
        border-bottom: 1px solid #D8D8D8;
    }

    .flexy-menu>li>a:hover {
        color: #fff!important;
        background: #ddd!important;
    }

    .flexy-menu a{
        width:100%;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
    }
    .flexy-menu ul,.flexy-menu ul li ul,.flexy-menu.vertical ul,.flexy-menu.vertical ul li ul{
        width:100%;
        left:0;
        border-left:0;
        position:static;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
    }
    .flexy-menu ul li{
        border-left:0;
        border-right:0;
    }
    .flexy-menu ul li a,.flexy-menu.vertical ul li a{
        padding-top:10px;
        padding-bottom:10px;
    }
    .flexy-menu ul>li>a{
        padding-left:40px!important;
    }
    .flexy-menu>li .arrow{
        top:15px;right:25px;
        font-size:17px;
    }
    .flexy-menu ul>li .arrow{
        display:none;
    }


    /*HERO SLIDER*/
    .da-slider {
        height:200px;
    }

    .da-slide .da-link {
        margin-left: 25%;
        margin-top:40px;
    }

    .da-slide h2 {
        top: 20px;
        font-size: 2em;
    }
    .da-slide p {
        top: 70px;
        font-size: 1em;
    }
    .da-slide .da-link {
        top: 105px;
        padding: 0.5em 2em;
    }
    .da-arrows span.da-arrows-next {
        right: -3px;
    }
    .da-arrows span {
        top: 42%;
    }
    .down-arrow {
        width: 50px;
        margin: 0 auto;
        padding: 0.5em 0em;
    }



    /*PORTFOLIO*/
    .owl-carousel {
        width: 90%;
        margin: 0 auto;
        padding: 2%;
    }
    .group_2_items {
        padding-top: 0px;
    }

    .item h4 a{
        font-size: 1em;
    }
    #owl-demo .item {
        margin: 0em;
        padding: 0em;
    }
    .group_2_img1 {
        width: 90%;
        margin: 0 auto;
        float: none;
    }
    .group_2_text2 {
        width: 100%;
        float: none;
        text-align: center;
        margin: 0%;
        margin-top: 20px;
    }
    .group_1_text h3 {
        font-size: 1em;
    }
    .group_1_img {
        float: none;
        width: 75%;
    }
    .group_1_img .fontend {
        padding: 2.24em 0.3em;
    }
    .group_1_img .fontend {
        font-size: 1.7em;
    }
    .brows_button_3 {
        margin: 2.5em 0em 1em 0em;
    }
    .text-light {
        padding: 1em 0em;
    }

    .group_2 {
        padding: 1em 0em 1em 0em;
    }

    /*Experience*/
    .column.six {
        width: 100%;
        float: none;
        padding: 0em;
        margin: 0em;
        margin-bottom: 5em;
    }
    .timeline-label {
        text-align: center;
    }
    .timeline-label h4 {
        padding: 0.3em 0em;
    }
    .row-content2 {
        padding: 2%;
    }
    .brows_button_4 {
        margin: 2em 0em;
    }
    .exper {
        padding: 3em 0em;
    }

    /*Contact form*/
    #contact-form ul{
        margin: 0!important;
        padding: 0!important;
    }

    /*Footer*/
    .footer-menu {
        padding: 0;
        margin: 0;
        list-style: none;
        float: right;
        display: inline-block;
    }

    .footer-menu li {
        display: inline;
        padding-left: 2px;
    }

    .footer-menu li:before {
        display: inline-block;
        content: "·";
        padding-right: 2px;
    }

    .footer-menu li:first-child:before {
        display: none;
    }

    /*Newsletter*/
    .newsletter {
        margin-bottom: 50px;
    }

}/* (min-width: 480px) and (max-width: 767px) */


@media(max-width:480px) {

    .heading{
        width: 100%;
    }

    .wrap{
        width:95%;
    }

    .header_style {
        padding:20px 0 0 0;
    }

    .navbg{
        height: 140px;
        margin-top: -20px;

    }

    .logo{
        float: none;
        text-align: center;

    }

    .logo img{
        margin-top: 50px;
    }

    .h_menu{
        float: none;
    }

    .flexy-menu{
        width: 100%;
        z-index: 999999;
    }

    .flexy-menu>li>a {
        color:#ffffff;
        font-size: 12px;
        margin-bottom:10px;
    }

    .flexy-menu.vertical{
        width:100%;
    }

    .flexy-menu li{
        display:block;
        width:100%;
        margin-bottom: 10px;
    }

    .flexy-menu>li>a{
        padding:10px 15px;
        color: #707E8C!important;
        font-size: 1.1em;
    }

    .flexy-menu>li>a:hover {
        color: #fff!important;
        height: 100%;
    }

    .flexy-menu a{
        width:100%;
        margin-top: 10px;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
    }

    .flexy-menu ul,.flexy-menu ul li ul,.flexy-menu.vertical ul,.flexy-menu.vertical ul li ul{
        width:100%;
        left:0;
        border-left:0;
        position:static;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
    }

    .flexy-menu ul li{
        border-left:0;
        border-right:0;
    }
    .flexy-menu ul li a,.flexy-menu.vertical ul li a{
        padding-top:10px;
        padding-bottom:10px;
    }
    .flexy-menu ul>li>a{
        padding-left:40px!important;
    }
    .flexy-menu>li .arrow{
        top:15px;right:25px;
        font-size:17px;
    }
    .flexy-menu ul>li .arrow{
        display:none;
    }


    /*HERO SLIDER*/
    .da-slider {
        height:300px;
    }

    .da-slide .da-link {
        margin-left: 20%;
        margin-top:40px;
    }

    .da-slide h2 {
        margin-left: 20px;
        margin-right: 20px;
        padding: 2%;
        top: 20px;
        font-size: 1.2em;
    }

    .da-slide a{
        margin-left: 30%;
    }

    .da-slide p {
        top: 70px;
        font-size: 1em;
        margin-left: 15%;
    }

    #why h1{
        margin-left: 25%;
    }

    .refer{
        display: none;
    }

    .title h4{
        float: right;
        margin-right: 30%;
    }

    .da-slide .da-link {
        top: 105px;
        padding: 0.5em 2em;
    }
    .da-arrows span.da-arrows-next {
        right: -3px;
    }
    .da-arrows span {
        top: 42%;
    }
    .down-arrow {
        width: 50px;
        margin: 0 auto;
        padding: 0.5em 0em;
    }

    /*Experience*/
    .column.six {
        width: 100%;
        float: none;
        padding: 0em;
        margin: 0em;
        margin-bottom: 5em;
    }
    .timeline-label {
        text-align: center;
    }
    .timeline-label h4 {
        padding: 0.3em 0em;
    }
    .row-content2 {
        padding: 2%;
    }
    .brows_button_4 {
        margin: 2em 0em;
    }
    .exper {
        padding: 3em 0em;
    }

    /*Footer*/

    .footer-menu {
        padding: 0;
        margin:0;
        list-style: none;
        float: none;
        display: inline-block;
    }

    .footer-menu li {
        display: inline;
        padding-left: 2px;
        padding-top: 0;
    }

    .footer-menu li:before {
        display: inline-block;
        content: "·";
        padding-right: 2px;
    }

    .footer-menu li:first-child:before {
        display: none;
    }

    .socialmedia{
        width: 100%;
        margin-top: -70px;
        float: left;
        margin-left: 180px;
        position: absolute;
    }

    .signup{
        margin-top: -14%;
        margin-left: -.9px;
        position:absolute;
    }

    .slider section{
        margin-bottom: 20%;
        background-color: rgba(62,62,62, 0.3);
        margin-top: 20%;
        width: 30%;
        border: 3px solid #fff;
    }

    .slider section img{
        margin-left: -1px;
    }
    .slider section h2{
        font-size: 1.2em;
        margin-top: 50%;
        margin-left: 12%;
        color: #fff;
    }

    .slider section h2:hover{
        color: #F2Ab27;
    }

    .content5{
        margin-top: 50%;
        height: 540px;
        background-size: 100%;
        background-size:cover;
        margin-bottom: 50%;
    }
    .content4{
        height: 780px;
    }

    .content5 a{
        color: #3e3e3e;
    }
    .content{
        height: 740px;
    }

    .content3{
        height:740px
    }
    .content7{
        height:740px
    }
    .content8{
        height:740px
    }
    /*ABOUT*/
    .about h1{
        margin-top: 55%;
    }
    .about img{
        margin-left: -10px;
        margin-top: -55%;

    }
    /*END ABOUT*/

    /*WHY T&P*/
    .text-light h1{
        color: #3e3e3e;
        font-size: 3em;
    }

    .whycontent h1{
        margin-bottom: 30px;
        margin-left: 2px;
        text-align: center;
        float: left;
        font-size: .1em;
        width: 100%;
        font-style: oblique;
        margin-top: -5%;
        color: #F2Ab27;
        display: none;
        position: absolute;
    }

    .text-light aside {
        background: grey;
        float: left;
        width: 100%;
        margin-left: 3%;
        height: 350px;
        border-radius: 400px;
        margin-top: 10%;
    }

    .whycontent{
        color: #ffffff;
        font-size: 52px;
        width: 75%;
        position: absolute;
        text-align: center;
        margin-top: 30%;
        margin-left: 13%;
    }

    .whycontent img{
        margin-top: -30%;
        margin-left: 4%;
    }

    .whycontent a{
        font-size: .5em;
        color: #F2Ab27;
        margin-left: 5%;
    }
    .socialmedia2{
        float: right;
        margin-top: -50%;
        margin-right: 2%;
    }
    /*END WHY*/

    /*Form*/
    .formcontent h1{
        margin-bottom: 30px;
        margin-left: -60px;
        text-align: center;
        float: left;
        font-size: .1em;
        width: 100%;
        font-style: oblique;
        margin-top: -5%;
        color: #F2Ab27;
        display: none;
        position: absolute;
    }

    .text-light aside {
        background: grey;
        float: left;
        width: 100%;
        margin-left: 3%;
        height: 350px;
        position: relative;
        border-radius: 400px;
        margin-top: 30%;
    }

    .formcontent{
        color: #ffffff;
        font-size: 52px;
        width: 75%;
        position: absolute;
        text-align: center;
        margin-top: 30%;
        margin-left: 7%;
    }

    .formcontent img{
        margin-top: -30%;
        margin-left: 17%;
    }

    .formcontent a{
        font-size: .5em;
        color: #F2Ab27;
        margin-left: 30px;
    }
    /*END form*/

    /*Gallery*/
    #gallery{
        margin-top: 1050px;
    }

    #gallery a{
        color: #3e3e3e;
    }
    /*End Gallery*/

    /*Parent Portal*/
    .tandp{
        width: 100%;
        height: 30%;
        margin-top: 45%;
    }

    .tandp img{
        margin-top: -38%;
        margin-left: -1%;
        position: absolute;
    }

    .da-slide{
        width: 100%;
    }

    .da-slide h1{
        width: 75%;
        font-size: 2em;
        position: absolute;
        height: 70px;
        padding-top: 30px;
        margin-left: 30%;
        border: 2px #ffffff solid;
    }

    .slider aside{
        margin-top: 26%;
        width: 40%;
        margin-left:6%;
    }

    .slider aside h2{
        padding-top: 50px;
        width: 100%;
        font-size: 1.5em;
    }

    .tp{
        z-index: 99999;
    }

    .signup{
        margin-left: 15px;
        position: absolute;
    }

    /*DOWN ARROW*/
    .down-arrow{
        margin-top: -50px;
    }
    /*DOWN ARROW*/

    /*Social Media 2*/
    .socialmedia2{
        margin-top: -35%;
    }

    .calendar{
        background: grey;
    }
    .calendar h1{
        margin: 0 auto;
    }

    .calendarcontent{
        margin-top: 10%;
        float: left;
    }
    .content6{
        background: url(../images/class.jpg) no-repeat;
        height: 660px;
        background-size: 100%;
        background-size:cover;
        margin-bottom: 5%;
    }

    /*Forms*/
    .form{
        width: 100%;
        margin-left: 40px;
        position: absolute;
        background: grey;
    }

    .form h1{
        float: left;
    }

    .form img{

    }

    .formcontent{
        margin-top: 10%;
        float: left;
    }

    #sform{
        width: 30%;
        background: gray;
    }

    .text-light h1{
        float: left;
    }

    .lessonplans{
        border: 2px #3e3e3e solid;
        color:#3e3e3e;
        width: 340px;
        margin-bottom: 10px;
    }
    .left{
        float: left;
        margin-left: 10px;
    }

    .left h2{
        width: 300px;
    }

    .left h3{
        padding-left:10px;
    }

    .right{
        float: right;
        margin-top: 50px;
        margin-right: 170px;
    }

    .right h2{
        width: 300px;
    }

    .right h3{
        padding-left:10px;
    }

    .ptitle{
        color: #F2Ab27;
        background: rgba(62, 62, 62, .5);
        width: 100%;
        margin: 0 auto;
    }

    .parent h1{
        color: #3e3e3e;
        width: 100%;
        margin-left: 10px;
    }

    .profile{
        background: none;
        width: 300px;
        height:300px;
        margin-top: -8%;
        border-radius: 400px;
        margin-bottom: 10%;
        margin-left: 8%;
        border: 3px solid #ffffff;

    }

    .md-effect-4 .md-content {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 0;
        width: 100%;
        margin-left: -4%;
    }

    .modalhead1{
        color: #ffffff;
        margin-left: -10%;

    }
    #gbutton{
        margin-top: -20%;
        color: #F2Ab27;
        font-size: 1.5em;
        float: right;
        margin-right: 31%;
    }

    .logout{
        position: absolute;
        margin-left: 22%;
        width: 300px;
        color: #ffffff;
        font-size: 1.3em;
        margin-top: 25%;

    }

    #logOut{
        margin-left: 5%;
        border: none;
        padding: 2%;
        border-radius: 5px;
        background: #85bf4b;
        color: #ffffff;

    }
    .response .response-name{
        color: black;
        font-size: 10pt;
        font-weight: 700;
        background: #F2Ab27;
        width: 80px;
        height: 80px;
        float: right;
        padding-top:30px;
        margin-top: 100px;
        padding-left:8px;
        margin-right: 150px;
        border-radius: 100px;
    }
    .response .response-time{
        color: #b2b2b2;
        background: #F2Ab27;
        width: 60px;
        height: 60px;
        float: right;
        padding-top:20px;
        padding-left:15px;
        border-radius: 100px;
        font-size: 13px;
        font-style: italic;
        margin-right: 60px;
        margin-top: -70px;
        margin-bottom: 10%;
    }

    .response-body p{
        width: 100%;
        margin-left: 10%;
        margin-top: 30px;
    }
    .response{
        margin-top: 10%;
    }

    .response-body{
        width: 100%;
        margin-left: -20%;
        border-bottom: 1px solid #e3e3e3;
    }
    .avatar-small, .response .response-avatar{
        border-radius: 100px;
        height: 86px;
        width: 86px;
        margin-left: -20px;
        margin-top: 10px;
    }
    footer{
        margin-top: 100%;
    }
}
